html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="radio"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ================= END OF SET UP CSS =================*/

/* General Styles */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lexend:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
}

.App {
  text-align: center;
  background: #161b40;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #43bee5;;
}

p {
  color: #fff;
}

button {
  margin: 20px 0px;
  background-color: #43bee5;
  color: #161b40;
  padding: 3px 5px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  padding: 10px;
  position: relative;
}

form, .optionContainer, optionButton {
  display: flex;
}

form {
  margin-top: 75px;
  margin-bottom: 15px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.optionContainer {
  justify-content: center;
  margin-top: -40px;
  flex-wrap: wrap;
}

.optionButton {
  align-self: center;
  background: #41b853;
  margin-left: 0.75%;
  padding: 9.5px;
  min-width: 175px;
}

.optionButton:hover, .optionButton:focus {
  background: #5ACF69;
}

.hoverLightBlue:hover, .hoverLightBlue:focus {
  background: #6BD1F0;
} 

/* PULSE EFFECT BEGINNING */
  .importantButton::before, .importantButton::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
  } 

  .importantButton:hover{
    color: white;
  }

  .importantButton:hover::after {
    background-color: #43bee5;
    z-index: 1;
    animation: pulse 1000ms infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(0.95);
      opacity: 0.75;
    }

    100% {
      transform: scale(1.35);
      opacity: 0;
    }
  }
/* PULSE EFFECT END */

.fa-plus-square {
  align-self: center;
  margin-right: 9%;
}

/* span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
} */

.form__radio-input {
  /* display: none; */
  position: relative;
}

.form__label-radio {
  font-size: 1.6rem;
  cursor: pointer;
  /* position: relative; */
  padding-left: 4.5rem;
}

.form__radio-button {
  height: 2rem;
  width: 2rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  /* left: 0; */
  /* top: -0.4rem; */
}

.form__radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #55c57a;
  opacity: 0;
  transition: opacity 0.2s;
}

.form__radio-input:checked ~ .form__label-radio .form__radio-button::after {
  opacity: 1;
}

.hide {
  display: none;
}

.modalBackground, .modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBackground {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modalContainer {
  background: white;
  border-radius: 10px;
  width: 35%;
  height: 150px;
  min-width: 300px;
  position: relative;
}

.modalContainer p {
  color: #161b40;
}

.closeButton {
  position: absolute;
  right: 5px;
  top: -5px;
}

.closeButton button {
  width: auto;
  background: transparent;
  border: none;
  margin: 5px 0;
}

.closeButton button:hover,
.closeButton button:active {
  color: #b32b2b;
}

.errorMesage {
  max-width: 95%;
  margin: 0 auto;
  overflow: auto;
}

.errorMessage p:first-child {
  margin-bottom: 10px;
  font-weight: 600;
}

footer {
  padding: 10px 0;
  background: #000;
  margin-top: 50px;
  font-size: 0.8rem;
}

footer p {
  color: #fff;
}

/* Home Page Styles */

header {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

h1 {
  color: #efa500;
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  font-size: 4.5rem;
  margin-right: 1%;
}

.bar {
  width: 15px;
  height: 200px;
  margin-right: 5px;
}

.container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 110px;
  height: 110px;
  padding: 0 5px;
  border: 3px solid white;
  border-radius: 15%;
  align-self: center;
}

.container .bar:nth-child(1) {
  background: #f40058;
  animation: bar1 2s linear;
  height: 100px;
}

@keyframes bar1 {
  0% {
      height: 0px;
  }
  100% {
      height: 100px;
  }
}

.container .bar:nth-child(2) {
  background: #efa500;
  animation: bar2 2s linear;
  height: 65px;
}

@keyframes bar2 {
  0% {
      height: 0px;
  }
  100% {
      height: 65px;
  }
}

.container .bar:nth-child(3) {
  background: #41b853;
  animation: bar3 2s linear;
  height: 90px;
}

@keyframes bar3 {
  0% {
      height: 0px;
  }
  100% {
      height: 90px;
  }
}

.container .bar:nth-child(4) {
  background: #43bee5;
  animation: bar4 2s linear;
  height: 75px;
  margin-right: 0px;
}

@keyframes bar4 {
  0% {
      height: 0px;
  }
  100% {
      height: 75px;
  }
}

.instructionsWrapper {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  width: 95%;
  line-height: 1.5;
}

.directions {
  display: flex;
  justify-content: space-evenly;
}

.input-label {
  color: #fff;
  list-style: none;
  font-size: 1.1rem;
  align-self: center;
  text-align: start;
}

input[type="text"] {
  width: 40%;
  min-width: 200px;
  align-self: center;
  border-radius: 5px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  max-width: 130px;
  margin: 0 auto;
}

li button {
  background: #f40058;
  height: 25px;
  margin-left: 2%;
  padding: 5px;
  padding-bottom: 24px;
}

li button:hover,
li button:focus {
  background: #f40000;
}

ol, .homeForm {
  display: flex;
  flex-direction: column;
}

ol {
  color: #fff;
  margin-top: 15px;
  list-style-position: inside;
}

button[type="submit"] {
  width: 175px;
  align-self: center;
}

button:hover, button[type="submit"]:hover, button:focus, button[type="submit"]:focus {
  cursor: pointer;
} 

.startOverButton, .startPollButton {
  padding: 10px;
}

.startOverButton {
  background: #f40058;
}

.startOverButton:hover, .startOverButton:focus {
  background: #FF4287;
}

.questionPreview p:first-child, .poll p  {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: #919aca;
}

.questionPreview p:nth-child(2) {
  font-size: 1.3rem;
  margin-bottom: 15px;
}

/* Poll Styles */

h2 {
  padding: 15px 0;
}

h3 {
  font-size: 2rem;
}

h2, h3, .vote label, .poll label {
  color: white;
}

.vote a {
  margin: 0 auto;
  max-width: 200px;
}

.poll p {
  margin-top: 20px;
}

.urlDisplay {
  margin-right: 2%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #6d6a6a;
}

/* Result Styles */

.result h3, h4 {
  color: #919aca
}

.result h3 {
  font-size: 1.8rem;
}

.result p {
  color: #fff;
}

/* Media Queries */

@media (max-width: 768px) {

  input[type=text] {
    width: 70%;
  }

}

@media (max-width: 550px) {

  h1 {
    font-size: calc(3rem + 0.5vw);
  }

  .container {
    width: 80px;
    height: 80px;
  }
    
  .container .bar:nth-child(1) {
    height: 70px;
  }

  @keyframes bar1 {
    100% {
        height: 70px;
    }
  }

  .container .bar:nth-child(2) {
    height: 35px;
  }

  @keyframes bar2 {
    100% {
        height: 35px;
    }
  }

  .container .bar:nth-child(3) {
    height: 60px;
  }

  @keyframes bar3 {
    100% {
        height: 60px;
    }
  }

  .container .bar:nth-child(4) {
    height: 45px;
  }

  @keyframes bar4 {
    100% {
        height: 45px;
    }
  }

}

@media (max-width: 400px) {
  .urlDisplay {
    margin-top: 10px;
  }
}

@media (max-width: 355px) {

  h1 {
    font-size: calc(2.5rem + 0.5vw);
  }

  .container {
    width: 60px;
    height: 60px;
  }
    
  .container .bar:nth-child(1) {
    height: 50px;
  }

  @keyframes bar1 {
    100% {
        height: 50px;
    }
  }

  .container .bar:nth-child(2) {
    height: 25px;
  }

  @keyframes bar2 {
    100% {
        height: 25px;
    }
  }

  .container .bar:nth-child(3) {
    height: 45px;
  }

  @keyframes bar3 {
    100% {
        height: 45px;
    }
  }

  .container .bar:nth-child(4) {
    height: 40px;
  }

  @keyframes bar4 {
    100% {
        height: 40px;
    }
  }

  input[type=text] {
    width: 100%;
  }

  .startOverButton, .startPollButton {
    min-width: 146px;
    margin: 0 3px;
    margin-top: 30px;
  }
  
}



