html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* END OF SET UP CSS */

/* General Styles */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lexend:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
}

.App {
  text-align: center;
  background: #161b40;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #41b853;
}

p {
  color: #fff;
}

form {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.hide {
  display: none;
}

.modalBackground {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContainer {
  background: white;
  border-radius: 10px;
  width: 35%;
  height: 150px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modalContainer p {
  color: #161b40;
}

.closeButton {
  position: absolute;
  right: 20px;
  top: 0;
}

.closeButton button {
  width: auto;
  background: transparent;
  border: none;
}

.errorMesage {
  max-width: 95%;
  margin: 0 auto;
  overflow: auto;
}

footer {
  padding: 10px 0;
  background: #000;
}

footer p {
  color: #fff;
}

/* Home Page Styles */

header {
  padding-top: 50px;
}

h1 {
  color: #efa500;
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
}

.directions {
  display: flex;
  justify-content: space-evenly;

}

.input-label {
  color: #fff;
  list-style: none;
  font-size: 1.5rem;
}

input[type="text"] {
  width: 40%;
  min-width: 200px;
  align-self: center;
  border-radius: 5px;
  border: 0;
  padding: 3px;
}

li {
  list-style: none;
}

li button {
  background: #f40058;
}

.homeForm {
  display: flex;
  flex-direction: column;
}

button {
  margin: 20px 0px;
  background-color: #43bee5;
  color: #161b40;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

button[type="submit"] {
  width: 150px;
  align-self: center;
}

.startOverButton {
  background: #f40058;
}

.startPollButton {
  background: #41b853;
}

/* Poll Styles */

h2 {
  padding: 15px 0;
  color: #fff;
}

h3 {
  margin-top: 50px;
}

.questionBanner {
  background: #3c4168;
}

.questionBanner h2 {
  color: #fff;
}

/* Result Styles */






